cachelib
certifi
cffi
charset-normalizer
click
cryptography
Flask
Flask-Session
idna
itsdangerous
Jinja2
MarkupSafe
msal
pycparser
PyJWT
requests
urllib3
Werkzeug
psycopg-binary
xhtml2pdf
psycopg2-binary
pdfkit
wkhtmltopdf
Gunicorn
Office365-REST-Python-Client